// ==========================================================================
// Base – Variables
// ==========================================================================

// Global Swatches
@footer:                                        transparent;
@ink:                                           #3E3E3E;
@paper:                                         #ECECEC;

// Navigation
@nav-item-height:                               1.875rem;
@nav-item-width:                                100%;
@nav-list-style:                                none;
@nav-item-p:                                    .25rem .5rem;
@nav-item-line-height:                          1.5rem;
@link-decor:                                    none;

// Global Typography
@dropcap:                                       'brand';
@heading:                                       'Lato', sans-serif;
@copy:                                          'Playfair Display Reg', serif;
@quote:                                         'Alfa Slab One', serif;
@base-background-color:                         @paper;
@base-font-family:                              @copy;
@base-font-size:                                16;
@base-line-height:                              22;
@mobile-line-height:                            32;
@base-font-weight:                              400;
@base-font-color:                               @ink;
@base-link-color:                               @ink;
@base-link-hover-color:                         @ink;

// Headings
@base-heading-font-family:                      @heading;
@base-h1-font-size:                             32;
@base-h1-line-height:                           38;
@base-h1-font-weight:                           700;
@base-h1-color:                                 @ink;
@base-h2-font-size:                             26;
@base-h2-line-height:                           32;
@base-h2-font-weight:                           700;
@base-h2-color:                                 @ink;
@base-h3-font-size:                             22;
@base-h3-line-height:                           28;
@base-h3-font-weight:                           700;
@base-h3-color:                                 @ink;
@base-h4-font-size:                             18;
@base-h4-line-height:                           24;
@base-h4-font-weight:                           700;
@base-h4-color:                                 @ink;
@base-h5-font-size:                             16;
@base-h5-line-height:                           22;
@base-h5-font-weight:                           700;
@base-h5-color:                                 @ink;
@base-h6-font-size:                             14;
@base-h6-line-height:                           20;
@base-h6-font-weight:                           700;
@base-h6-color:                                 @ink;

// Blockquotes
@base-blockquote-font-family:                   @quote;
@base-blockquote-font-size:                     24;
@base-blockquote-line-height:                   20;

// Code
@base-code-font-family:                         monospace, monospace;
@base-code-font-size:                           13;
@base-code-line-height:                         18;
@base-code-color:                               @ink;
@base-code-background-color:                    transparent;
@base-code-border-color:                        #d7d7d7;

// Forms
@base-input-height:                             36px;
@base-input-placeholder-color:                  #999;
@base-input-color:                              @ink;
@base-input-background-color:                   #fff;
@base-input-background-focus-color:             #fff;
@base-input-border-color:                       #ccc;
@base-input-border-focus-color:                 #f7c723;
@base-select-box-height:                        36px;

// Grid Alignment
@grid-alignment:                                left;

// Grid Containers
@container:                                     100%;
@container-m:                                   768px;
@container-l:                                   980px;
@container-xl:                                  1200px;

// Grid Gutters
@grid-gutter:                                   15px;
@grid-gutter-m:                                 15px;
@grid-gutter-l:                                 15px;
@grid-gutter-xl:                                15px;

// Responsive Breakpoints
@breakpoint-m:                                  (@container-m);
@breakpoint-l:                                  (@container-l);
@breakpoint-xl:                                 (@container-xl);
