@gen-route: "../pursuit/fonts/general";

@font-face {
	font-family: Lato;
	src:	url('@{gen-route}/Lato-Black.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Playfair Display Reg;
	src:	url('@{gen-route}/PlayfairDisplay-Regular.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Playfair Display Bld;
	src:	url('@{gen-route}/PlayfairDisplay-Bold.tff');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: Playfair Display Itc;
	src:	url('@{gen-route}/PlayfairDisplay-Italic.tff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Playfair Display BldItc;
	src:	url('@{gen-route}/PlayfairDisplay-BoldItalic.tff');
	font-weight: 700;
	font-style: oblique;
}

@font-face {
	font-family: Alfa Slab One;
	src: url('@{gen-route}/AlfaSlabOne-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
