.entry-header {
  padding: 1rem 0;
  border-bottom: 2px solid @black;
  margin-bottom: 2rem;
  .text-center;
}

.entry-date {
  font-size: 1rem;
  .text-center;

  &:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: @black;
    margin-bottom: .325rem;
    margin-top: 1.525rem;
  }
}

.main-navigation {
  ul#accordion {
    .block;
    list-style-type: @nav-list-style;
    padding-left: 0;
    margin-bottom: 0;

    ul#submenu {
      .block;
      list-style-type: @nav-list-style;
      padding-left: 0;
      opacity: 0;
      height: 0;
      margin: 0;
      overflow: hidden;
      transition: .75s;

      &.open {
        opacity: 1;
        height: 100px;
        margin-bottom: 0;
        transition: .75s;
      }

      li {
        padding: @nav-item-p;

        a {
          .block;
          height: @nav-item-height;
          width: @nav-item-width;
          line-height: @nav-item-line-height;
          text-decoration: @link-decor;

          &:hover {
            font-style: italic;
          }
        }
      }
    }
  }

  ul.nav-desktop {
    .block;
    margin-top: .5rem;
    list-style-type: @nav-list-style;
    padding-left: 0;

    li a {
      .block;
      height: @nav-item-height;
      width: @nav-item-width;
      line-height: @nav-item-line-height;
      text-decoration: @link-decor;
    }

    a:hover {
      font-style: italic;
    }
  }
}

.social-navigation {
  width: 100%;
  padding: 0;
  height: auto;
  .flex-column;
  .flex-space-between;

  a {
    flex: 0 1 auto;
  }
}

.accordion-menu {
  cursor: pointer;
}
