body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-area {
  padding-top: 5%;
  padding-bottom: 3%;
}

.site-footer {
  height: 3.125rem;
  padding: 1rem;
  background-color: @footer;
  text-align: center;
}

p:first-child:first-letter,
.dropcap {
  color: @black;
  float: left;
  font-family: @dropcap;
  font-size: 175px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
