/*
 * Heading Styles
 */
html {
  overflow-x: hidden;
}

.site-branding {
  margin-bottom: 2rem;

  &:before {
    .relative;
    .block;
    content: "SE";
    font-family: 'brand', sans-serif;
    font-size: 5rem;
    letter-spacing: .5rem;
    line-height: 5rem;
    max-width: 60px;
    height: 60px;
    top: 1rem;
    margin: 0;
    padding-left: .5rem;
  }

  a {
    text-decoration: none;
    color: transparent;
    .block;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 1rem;
  }
}

.menu-toggle {
  .fixed;
  bottom: 0;
  left: 0;
  height: 4.75rem;
  width: 4.75rem;
  background-color: @paper;
  z-index: 1000;
  border: none;

  .icon-menu {
    .block;
    height: 2rem;
    font-size: 2rem;
    text-decoration: none;
  }
}

.social-navigation {
  display: flex;
  height: 10rem;
  .relative;
  .flex-column;
  .flex-center;
  .flex-nowrap;
  padding-left: .5rem;

  a {
    .block;
    height: 2rem;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 2.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:first-of-type {
      margin-top: 1rem;
    }
  }
}

.mobile-navigation {
  list-style: none;
  display: flex;
  padding-left: .5rem;
  position: fixed;
  bottom: -400px;
  height: 360px;
  transition: 1s all ease;
  .flex-column;
  .flex-center;
  .flex-nowrap;

  &.open {
    transition: .5s all ease;
    bottom: 0;
  }

  a {
    flex: 0 1 auto;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    height: 2rem;
    font-size: 2rem;
    .block;
    .text-center;
  }
}

/*
 * Body/Content Styles
 */

// Project Specific
.entry-header {
  padding: 1rem 0;
  border-bottom: 2px solid @ink;
  margin-bottom: 1rem;
}

h3 {
  font-style: italic;
  margin-bottom: 1rem;
}

.entry-date {
  font-size: 1rem;
  .text-center;

  &:before {
    content: " ";
    .block;
    width: 100%;
    height: 2px;
    background-color: @ink;
    margin-bottom: .325rem;
    margin-top: 1.525rem;
  }
}

.post-location {
  .text-center;
}

.entry-title {
  .text-center;
  margin-bottom: 0;
}

.divider {
  margin: 1rem 0;
}

.caption {
  margin-bottom: 1rem;

  &:after {
    content: "";
    .block;
    margin-top: .75rem;
    border-bottom: @ink 1px solid;
  }
}

.quote-container {
  .divider:first-child {
    margin-top: 0;
  }

  .divider:last-child {
    margin-bottom: 2rem;
  }
}

.sm,
.md {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.lg {
  font-size: 1.75rem;
  line-height: 3rem;
}

// Front Page Specific
.nameplate {
  .col-12;
  .center;
  .flex-column;
  .flex-space-around;
  height: 9.375rem;
  display: flex;
  align-content: stretch;
  padding: 0;

  .intro,
  .edition {
    .col-12;
    .uppercase;
    .text-center;
    font-family: @heading;
    letter-spacing: .125rem;
    font-size: .75rem;
    padding: 0;
    position: relative;
    z-index: 5;

    &:before {
      .block;
      content: '';
      height: 1rem;
      width: 80%;
      background-color: @paper;
      position: relative;
      z-index: -1;
      margin: 0 auto -0.75rem;
    }

    &:after {
      .block;
      content: '';
      border-top: 2px solid @ink;
      margin-top: -0.75rem;
      width: 100%;
      position: relative;
      z-index: -2;
    }
  }

  .edition {
    &:before {
      width: 50%;
    }
  }


  .plate-t,
  .plate-m,
  .plate-b {
    flex: 0 1 auto;
  }

  .plate-l,
  .plate-c,
  .plate-r {
    .text-center;
    .uppercase;
  }

  .plate-l,
  .plate-r {
    .col-2;
    font-size: .75rem;
    font-family: @heading;
    padding: 0;
  }

  .plate-c {
    .col-8;
    font-family: @dropcap;
    font-size: 3.175rem;
    letter-spacing: .175rem;
  }

  .plate-m {
    padding-top: 1.25rem;
  }
}

.featured {
  margin-top: 0.5rem;

  a {
    text-decoration: none;
    .text-center;
  }

  .feat-container {
    .flex-column;
    .flex-end;
    height: 37.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 135%;
    padding: 1rem 2rem;
    display: flex;
    align-content: flex-end;
    transition: all 1s ease;

    &:after {
      display: block;
      content: '';
      background-color: @ink;
      opacity: .7;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    &:hover {
      background-size: 150%;
      transition: all 1s ease;
    }
  }

  .feat-title,
  .feat-excerpt {
    .text-center;
    color: #fff;
    flex: 0 1 auto;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  .feat-title {
    .uppercase;
    font-size: 1.25rem;
    letter-spacing: .25rem;
  }

  .feat-excerpt {
    font-size: 1.5rem;
    letter-spacing: .175rem;
    line-height: 1.75rem;
  }

}

.single-link {
  .col-12;
  text-decoration: none;

  .single-page {
    .text-center;
    .block;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: .5rem;
  }

  .single-title {
    .text-center;
    .uppercase;
    margin-bottom: 1rem;
    letter-spacing: 0.125rem;
  }

  .single-preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    height: 200px;
    margin-bottom: 1rem;
    transition: all 1s ease;

    &:hover {
      background-size: 130%;
      transition: all 1s ease;
    }
  }
}

// Single Specific
.single-item {
  .col-12;
  margin-bottom: 1.5rem;

  .single-thumbnail {
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 1s;

    &:hover {
      transition: all 1s;
      background-size: 130%;
    }
  }
}

.featherlight-content {
  .flex-column;
  .flex-nowrap;
  .container;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 1rem 0;

  .featherlight-close,
  .featherlight-inner {
    .col-10;
    .center;
    position: relative;
    flex: 0 1 auto;
    height: 100%;

    img {
      .img-fluid;
      margin-bottom: 1rem;
      height: auto;
    }

    .single-caption {
      color: @paper;
    }
  }

  .featherlight-close {
    height: 4rem;
    margin-bottom: 2rem;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    background-color: transparent;
    color: @paper;
  }
}

.with-featherlight {
  height: 100%;
  width: 100%;

  &:after {
    content: '';
    background-color: fadeout(@ink, 10%);
    position: fixed;
    z-index: 5000;
    height: 100%;
    width: 100%;
  }
}

// Project Specific
article.project-item {
  .col-12;

  .project-image {
    .block;
    .center;
    .img-fluid;
    .img-round;
  }

  .project-page-number {
    .col-12;
    .text-center;
    .block;
    margin: .5rem 0;
  }

  .project-title {
    .col-12;
  }

  .project-excerpt {
    .col-12;
  }

  .project-info {
    .col-12;
  }
}

/*
 * Footer Styles
 */

.site-footer {
  height: 4.75rem;
}
